map area {
    outline: none;
}

.calves-area {
    cursor: url('./BodyPart-pics/calvesIcon.png'), auto;
}

.legs-area {
    cursor: url('./BodyPart-pics/legsIcon.png'), auto;
}

.arms-area {
    cursor: url('./BodyPart-pics/armsIcon.png'), auto;
}

.abs-area {
    cursor: url('./BodyPart-pics/absIcon.png'), auto;
}

.chest-area {
    cursor: url('./BodyPart-pics/chestIcon.png'), auto;
}

.shoulders-area {
    cursor: url('./BodyPart-pics/shouldersIcon.png'), auto;
}

.back-area {
    cursor: url('./BodyPart-pics/backIcon.png'), auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.images {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
    cursor: pointer;
    opacity: 0.4;
}

.icon:hover {
    opacity: 1;
}

.captionChoose {
    margin: 60px 20px;     
    font-size: 2em;
    text-align: center;
}

.captionFlip {
    margin: 20px;     
    font-size: 1.5em;
    text-align: center;
}