.backFigure {
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.backFigure:hover {
    cursor: pointer;
}

.backBF {
    width: 35%;
}

.backBB {
    width: 35%;
    opacity: 0.4;
}

figcaption {
    margin: 40px 20px;     
    font-size: 2em;
    text-align: center;
}

figcaption span {    
    font-size: 0.7em;
    color: rgb(197, 59, 49);
}

.exercisesList {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    gap: 50px;
    justify-content: center;
    align-items: center;    
}

.exercisesCard, .exercisesCardDetailed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: rgb(197, 59, 49);
    text-align: center;
}

.exercisesCard img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}