.backFigure {
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.backFigure:hover {
    cursor: pointer;
}

.backBF {
    width: 35%;
}

.backBB {
    width: 35%;
    opacity: 0.4;
}

figcaption {
    margin: 40px 20px;     
    font-size: 2em;
    text-align: center;
}

figcaption span {    
    font-size: 0.6em;
    color: rgb(197, 59, 49);
}

.exercisesList {
    margin: 20px auto;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    gap: 50px;
    justify-content: center;
    align-items: center;    
    text-align: center;
    font-size: 1.2em;
}

.containerCardDetailed {
    margin: 30px auto;
    width: 80%;  
    font-size: 1.2em;
    text-align: center;
}

.exercisesCard, .exercisesCardDefault {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(197, 59, 49);
}

.exercisesCardDetailed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_1_CardDetailed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercisesCard img, .exercisesCardDefault img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

.exercisesCardDetailed img {
    max-width: 275px;
    max-height: 275px;
    margin-right: 20px;
}

.name_CardDetailed {
    color: rgb(197, 59, 49);
    margin-left: 20px;
}

.desc_CardDetailed {
    line-height: 1.2em;
    margin: 20px 0;
}

.exercisesCard img:hover, .exercisesCardDetailed:hover {
    cursor:pointer;
}